h2 {
    text-align: center;
}

.day {
    width: 10px;
    height: 10px;
    background-color: rgb(200,200,200);
    border-radius: 50%;
}

.event {
    background-color: black;
    border-radius: 0%;
}

.future {
    background-color: rgba(230,230,230,0.8);
}


.day {
    position: relative;
    display: inline-block;
}
  
.day .tooltiptext {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
    color: black;
    
    /* visibility: hidden; */
    display: none;
    min-width: 220px;
    background-color: lightgrey;
    border-radius: 6px;
    padding: 5px 10px;
    /* top: -999px;
    left: -999px; */
    left: 10px;
    position: absolute;
    z-index: 1;
}
  
.day:hover .tooltiptext {
    display: block;
    /* visibility: visible; */
    /* top: -10px; */
    /* left: 15px; */
}

.desc-value {
    font-weight: bold;
}

#life-container {
    width: 80%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 6rem; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 6px;
}

#description {
    width: 60%;
    min-width: 300px;
    max-width: 900px;
    margin: 2rem auto;
    font-family: Arial, Helvetica, sans-serif;
}

#life-bar-container {
    height: 24px;
    background-color: #dae2f0;
    border: 1px solid black;
    border-radius: 4px;
    width: 60%;
    min-width: 300px;
    max-width: 900px;
    margin: 2rem auto;
    padding:1px 0 1px 0;
}

#life-bar {
    height: 24px;
    border-radius: 4px;
    background-color: #2196F3;
    color: white;
    text-align: center;
    font-size: 22px;
}